<div class="row bg-footer footer">
    <div class="col-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-6">
                <h3>1,20,329494</h3>
                <small>TOTAL DOWNLOAD</small>
            </div>
            <div class="col-6">
                <h4>13,4343</h4>
                <small>Clents</small>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form>
                    <span>Subscribe to Our Newsletter</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div>asdfasdf</div>
                <span>Like us on Facebook</span>
            </div>
            <div class="col-6">
                <div>asdfasdf</div>
                <span>Like us on Facebook</span>
            </div>
        </div>
    </div>
  
</div>
<div class="row bg-footer">
    <div class="col-12">
        <div style="float:left">&copy; 2021 All Right Reserved Inc.</div>
        <div style="float:right">
            <ul class="footer-links">
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
        <div class="clear-fix"></div>
    </div>
</div>